@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(22, 22, 22);
    transition: 0.5s;
}


nav{
    box-shadow: black 1px -3px 15px;
    top: 0;
    font-family: 'Oswald', sans-serif;
    padding: 25px;
    background-color: rgb(17, 17, 17);
}

nav li{
    display: inline-block;
    list-style: none;
}

nav a{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.5s;
}

/*color: rgb(163, 2, 2);*/

nav a:hover{
    border-radius: 10px;
    padding: 6px;
    background-color: rgb(143, 54, 38);

}

nav #aa{
    float: right;
}

div.drx h1 {
    font-size: 17vh;
    font-family: 'The Nautigal', sans-serif;
    text-align: center;
    padding: 70px;
}

div.drx span{
    font-family: 'The Nautigal', sans-serif;
}

div.drx #d{
    color: white;
}

div.drx #r{
    color: rgb(255, 255, 255);
}

div.drx #x{
    color: tomato;
}

div#text{
    padding: 40px;
    color: white;
}

div ul li{
    line-height: 30px;
    padding-left: 6vh;
    list-style: none;
}

div#bb{
    
    font-family: 'The Nautigal', sans-serif;
    margin: auto;
    text-align: right;
}
div#bb{
    padding-right: 50px;
    padding-bottom: 100px;
}

div#bb a{
    position: relative;
    top: 40px;
    border-radius: 10px;
    padding: 3.0vh;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    
}

div a#cc{
    
    box-shadow: rgba(255, 0, 0, 0.774) 6px 5px 0px 1px;
    padding: 4.0vh;
    border: rgb(255, 255, 255) solid 1px;
    font-family: 'Oswald', sans-serif;
    
    color: rgb(255, 255, 255);
}

div#bb a:hover{
    box-shadow: none;
    border: rgb(197, 0, 0) solid 4px;
    color: white;
    background-color: rgb(197, 0, 0);

}

div.produtos{
    height: 80px;
    text-align: center;
    color: white;

}


div.loja h2{
    color: white;
    text-align: center;
}

div.loja .aba{
    color: tomato;
}

@media (max-width: 900px) {
    div.loja{
        color: rgba(240, 248, 255, 0);
    }
    div.loja h2{
        color: rgba(240, 248, 255, 0);
    }

    div.loja .aba{
        color: rgba(240, 248, 255, 0);
    }
}


/*Seta*/


#img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#img > img {
    height: 150px;
    width: 60px;
    animation: jumping 1s linear infinite;
    cursor: pointer;
}

@keyframes jumping {
    from {transform: translateY(-15px);}
    50% {transform: translateY(0);}
    to {transform: translateY(-15px);}
}

#conteudo {
    height: 30vh;
}





/*Loja*/

div.fimo{
    background-color: rgb(22, 22, 22);
}

/*

@media (max-width: 1516px){
div.seletor {
   

}
@media (max-width: 992px){
div.fimo {
    

}
@media (max-width: 768px){
div.fimo {
  

}
@media (max-width: 576px){
div.fimo {
    
}

*/






/*Spotify*/




div.seletor{
    position: relative;
    left: 40px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100px;
    min-width: 300px;
    padding: 20px;
    min-height: 65vh;
    box-shadow: rgb(17, 17, 17) 1px -3px 15px;
    border-radius: 30px;
    background-color: rgb(24, 24, 24);
    color: white;
    line-height: 40px;
}

img{
    border-radius: 12px;
}

div.seletor h2#pr{
    color: green;
}


div.seletor a{
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2vh;
    transition: 0.5s;
}

div.seletor a:hover{
    background-color: rgb(255, 121, 97);
}

@media (max-width:1920px) {
    div.seletor{
        left: 170px;
    }
}

@media (max-width:1600px) {
    div.seletor{
        left: 70px;
    }
}

@media (max-width: 1514px) {
    div.seletor{
        left: 90px;
    }
    

}

@media (max-width: 1400px) {
    div.seletor{
        left: 50px;
    }
}

@media (max-width: 1337px) {
    div.seletor{
        left: 20px;

    }
}

@media (max-width: 900px) {
    div.seletor{
        left: 0;
        float: none;
        position: relative;
        margin: auto;

    }
        #img {
            display: none;
            justify-content: center;
            align-items: flex-end;
        }
        
        #img > img {
            height: 50px;
            width: 50px;
            animation: jumping 1s linear infinite;
            cursor: pointer;
        }
        
        @keyframes jumping {
            from {transform: translateY(-15px);}
            50% {transform: translateY(0);}
            to {transform: translateY(-15px);}
        }
        
        #conteudo {
            height: 0;
        }
    }




































/*Discord*/



div.seletor1{
    position: relative;
    left: 250px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100px;
    min-width: 300px;
    padding: 20px;
    min-height: 65vh;
    box-shadow: rgb(17, 17, 17) 1px -3px 15px;
    border-radius: 30px;
    background-color: rgb(24, 24, 24);
    color: white;
    line-height: 40px;

}

img{
    border-radius: 12px;
}

div.seletor1 h2#pr{
    color: green;
}

div.seletor1 a{
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2vh;
    transition: 0.5s;
}

div.seletor1 a:hover{
    background-color: rgb(255, 121, 97);
}

@media (max-width:1920px) {
    div.seletor1{
        left: 460px;
    }
}



@media (max-width:1600px) {
    div.seletor1{
        left: 280px;
    }
}



@media (max-width: 1400px) {
    div.seletor1{
        left: 180px;
    }
}


@media (max-width: 1337px) {
    div.seletor1{
        left: 140px;

    }
}

@media (max-width: 900px) {
    div.seletor1{
        left: 0;
        float: none;
        position: relative;
        margin: auto;
        top: 80px;
    }
}


























/*Youtube*/


div.seletor2{
    position: relative;
    left: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100px;
    min-width: 300px;
    padding: 20px;
    min-height: 65vh;
    box-shadow: rgb(17, 17, 17) 1px -3px 15px;
    border-radius: 30px;
    background-color: rgb(24, 24, 24);
    color: white;
    line-height: 40px;
}

img{
    border-radius: 12px;
}

div.seletor2 h2#pr{
    color: green;
}

div.seletor2 a{
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2vh;
    transition: 0.5s;
}

div.seletor2 a:hover{
    background-color: rgb(255, 121, 97);
}

@media (max-width:1920px) {
    div.seletor2{
        left: 700px;
    }
}

@media (max-width:1600px) {
    div.seletor2{
        left: 500px;
    }
}

@media (max-width: 1514px) {
    div.seletor2{
        left: 300px;
    }
}

@media (max-width: 1337px) {
    div.seletor2{
        left: 260px;

    }
}


@media (max-width: 1034px) {
    div.seletor2{
        top: 50px;
        left: 20px;

    }
}

@media (max-width: 900px) {
    div.seletor2{
        left: 0;
        float: none;
        position: relative;
        margin: auto;
        top: 160px;
        
    }
}



footer{
    padding-top: 100px;
    color: white;
}



footer li{
    text-align: center;
    list-style: none;
    line-height: 100px;
}

footer li a{
    font-weight: bold;
    text-decoration: none;
    color: tomato;
    transition: 0.5s;
}

footer li a:hover{
    text-decoration: underline;
}

@media (max-width: 900px) {
    footer li{
       padding-top: 100px;
        
    }
}