@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Dancing Script', sans-serif;
    font-size: 40px;
}

body{
    background-color: rgb(255, 255, 255);
}
.formas{
    display: none;
}
h1{
    position: relative;
    top: 60px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 100px;
}

@media (max-width: 900px) {
    h1{
        margin: 0;
        padding: 0;
        display: none;
    }
    li{
        margin: 0;
        padding: 0;
    }
    .formas{
        margin: 0;
        padding: 0;
        display: block;

    }
    #pix{
        float: center;
        margin: 0;
        padding: 0;

    }
}

li{
    
    position: relative;
    top: 100px;
    text-align: center;
    list-style: none;
    line-height: 200px;
}
#pix{
    float: center;
}

