@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

*{
    
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: rgb(22, 22, 22);

}

nav{
    box-shadow: black 1px -3px 15px;
    top: 0;
    position: sticky;
    font-family: 'Oswald', sans-serif;
    padding: 25px;
    background-color: rgb(17, 17, 17);
}

nav li{
    
    display: inline-block;
    list-style: none;
}
nav li:last-child{
    float: right;
}
nav a{
    font-family: 'Oswald', sans-serif;
    color: white;
    
    text-decoration: none;
    margin-left: 30px;
    transition: 0.5s;
}

/*color: rgb(163, 2, 2);*/

nav a:hover{
    border-radius: 10px;
    padding: 6px;
    background-color: rgb(163, 2, 2);

}

nav #aa{
    float: right;
}


div.drx h1 {
    font-size: 100px;
    text-align: center;
    font-family: 'The Nautigal', sans-serif;
}

div.drx span{
    font-family: 'The Nautigal', sans-serif;
}

div.drx #d{
    color: white;
}

div.drx #r{
    color: rgb(255, 255, 255);
}

div.drx #x{
    color: tomato;
}



/*PFVR MEXE SÓ VOCÊ AQUI*/

div.seletor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 100px;
    min-width: 300px;
    padding: 20px;
    min-height: 65vh;
    box-shadow: rgb(17, 17, 17) 1px -3px 15px;
    border-radius: 30px;
    background-color: rgb(24, 24, 24);
    color: white;
    line-height: 30px;
}

img{
    border-radius: 12px;
}

div.seletor h2#pr{
    color: green;
}

div.seletor a{
    text-decoration: none;
    color: white;
    background-color: tomato;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
}

div.seletor a:hover{
    background-color: rgb(255, 121, 97);
}






/*FALE CONOSCO*/

